<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HaNSEi Car</title>
    <style>
        form, input { display: inline; font-size: 24px; }
    </style>
</head>
<body>
<center><img id="bg" src="{{ url_for('video_feed') }}"></center>
<br/>
<center>
    <table style="text-align: center;" border="0" >
        <tr>
            <td></td>
            <td>
                <form target="action" action="car.json" >
                    <select name="curve">
                        <option value="0" selected>0</option>
                        <option value="0.1">0.1</option>
                        <option value="0.2">0.2</option>
                        <option value="0.3">0.3</option>
                        <option value="0.4">0.4</option>
                        <option value="0.5">0.5</option>
                        <option value="0.6">0.6</option>
                        <option value="0.7">0.7</option>
                        <option value="0.8">0.8</option>
                        <option value="0.9">0.9</option>
                        <option value="1">1</option>
                    </select>
                    <br/>
                    <input type="submit" value="&nbsp; &uarr; &nbsp;" />
                    <input type="hidden" name="motion" value="forward" />
                </form>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="left" />
                    <input type="submit" value="&nbsp; &larr; &nbsp;" />
                </form>
            </td>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="stop" />
                    <input type="submit" value="&nbsp; &bull; &nbsp;" />
                </form>
            </td>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="right" />
                    <input type="submit" value="&nbsp; &rarr; &nbsp;" />
                </form>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="backward" />
                    <input type="submit" value="&nbsp; &darr; &nbsp;" />
                </form>
            </td>
            <td></td>
        </tr>
    </table>
</center>
<br/>
<iframe name="action" src="info.html" width="100%" height="80" frameborder="0" style="border: 1px solid black;"></iframe>
</body>
</html> 