<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>HaNSEi Car</title>
    <style>
        form, input { display: inline; font-size: 24px; }
    </style>
</head>
<body>
<center><img id="bg" src="{{ url_for('video_feed') }}"></center>
<br/>
<center>
    <table style="text-align: center;" border="0" >
        <tr>
            <td></td>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="forward" />
                    <input type="submit" value="&nbsp; &uarr; &nbsp;" />
                </form>
            </td>
            <td></td>
        </tr>
        <tr>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="left" />
                    <input type="submit" value="&nbsp; &larr; &nbsp;" />
                </form>
            </td>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="stop" />
                    <input type="submit" value="&nbsp; &bull; &nbsp;" />
                </form>
            </td>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="right" />
                    <input type="submit" value="&nbsp; &rarr; &nbsp;" />
                </form>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <form target="action" action="car.json" >
                    <input type="hidden" name="motion" value="backward" />
                    <input type="submit" value="&nbsp; &darr; &nbsp;" />
                </form>
            </td>
            <td></td>
        </tr>
    </table>
</center>
<br/>
<iframe name="action" src="info.html" width="100%" height="80" frameborder="0" style="border: 1px solid black;"></iframe>
</body>
</html> 